<?xml version="1.0"?>

<model>
  <name>human_actor</name>
  <version>1.0</version>
  <sdf version='1.0'>model.sdf</sdf>

  <author>
    <name>Francesco Grella</name>
    <email>francesco.grella@edu.unige.it</email>
  </author>

  <description>
    A human model walking following pre-defined paths
  </description>
</model>
